In [44]:
import pandas as pd
from sqlalchemy import create_engine

# SQFT Dataset

In [45]:
sqft_raw = pd.read_csv('Raw_Data/City_MedianValuePerSqft_AllHomes.csv', encoding = 'latin-1')
sqft_raw.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,6181,New York,NY,New York-Newark-Jersey City,Queens County,1,130.0,131.0,131.0,132.0,...,506,510,514,518,519,520,522,525,528,529
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,111.0,111.0,111.0,110.0,...,454,455,457,458,459,462,464,466,468,469
2,17426,Chicago,IL,Chicago-Naperville-Elgin,Cook County,3,87.0,88.0,89.0,89.0,...,169,170,171,171,171,171,172,173,173,173
3,39051,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,4,50.0,50.0,50.0,51.0,...,101,102,103,103,103,104,104,104,105,106
4,6915,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,54.0,54.0,53.0,53.0,...,103,104,105,105,106,106,107,108,109,109

In [46]:
# sqft_raw.Metro.loc[sqft_raw.State == 'WA']

In [47]:
# Grab only rows for specified metropolitan areas
cities = ['Seattle', 'Washington', 'Detroit', 'Denver', 'Austin', 'San Francisco', 
          'Dallas', 'New York', 'Orlando', 'Raleigh', 'Durham']
metro_index = []
for city in cities:
    metro_index.append(sqft_raw.index[sqft_raw['Metro'].str.contains(city, na = False)].tolist())
    


metro_index = [item for sublist in metro_index for item in sublist]

sqft_metro = sqft_raw.iloc[metro_index]
sqft_metro.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
23,16037,Seattle,WA,Seattle-Tacoma-Bellevue,King County,24,113.0,113.0,112.0,113.0,...,506,506,507,508,505,502,502,500,497,497
129,27362,Tacoma,WA,Seattle-Tacoma-Bellevue,Pierce County,130,84.0,84.0,85.0,84.0,...,226,228,230,232,234,235,236,238,241,244
217,13480,Renton,WA,Seattle-Tacoma-Bellevue,King County,218,89.0,88.0,89.0,88.0,...,256,257,258,259,259,258,258,257,256,256
232,3619,Bellevue,WA,Seattle-Tacoma-Bellevue,King County,233,106.0,106.0,105.0,105.0,...,446,446,449,450,449,448,449,448,446,446
326,5399,Kent,WA,Seattle-Tacoma-Bellevue,King County,327,85.0,85.0,84.0,84.0,...,213,212,213,213,213,212,213,213,212,212

In [48]:
# Set up Raleigh-Durham-Chapel Hill area
sqft_metro['Metro'] = sqft_metro['Metro'].replace(['Durham-Chapel Hill', 'Raleigh'], 'Raleigh-Durham-Chapel Hill')

C:\Users\Will\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [49]:
#Group regions under each metro area
metro_group = sqft_metro.groupby('Metro').mean()
metro_group.drop(index = ['Washington Court House', 'Austin'], columns = ['RegionID', 'SizeRank'], inplace = True)

# Transpose dataset
metro_group = metro_group.transpose().reset_index()
metro_group = metro_group.rename(columns = {'index': 'Month'})
metro_group.head()

Metro,Month,Austin-Round Rock,Dallas-Fort Worth-Arlington,Denver-Aurora-Lakewood,Detroit-Warren-Dearborn,New York-Newark-Jersey City,Orlando-Kissimmee-Sanford,Raleigh-Durham-Chapel Hill,San Francisco-Oakland-Hayward,Seattle-Tacoma-Bellevue,Washington-Arlington-Alexandria
0,1996-04,81.810811,61.217391,91.016949,81.773196,109.122164,55.982759,60.710526,174.650602,95.105263,93.542553
1,1996-05,81.837838,61.268116,91.135593,82.206186,109.148342,56.051724,60.710526,174.710843,95.052632,93.521277
2,1996-06,81.837838,61.304348,91.406780,82.793814,109.101222,56.120690,60.842105,174.614458,94.978947,93.329787
3,1996-07,81.675676,61.463768,91.627119,83.340206,108.945899,55.965517,60.921053,174.686747,94.884211,93.063830
4,1996-08,81.567568,61.565217,91.813559,83.701031,108.767888,56.000000,60.921053,174.759036,94.936842,92.760638

# Sales Count Dataset

In [50]:
us_state_abbrev = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
    'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
    'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA',
    'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO',
    'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
    'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH',
    'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT',
    'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY',
    'District of Columbia': 'DC'
}

In [51]:
sales_raw = pd.read_csv('Raw_Data/Sale_Counts_Seas_Adj_City.csv', encoding = 'latin-1')
sales_raw.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,12447.0,Los Angeles,California,1,1626.0,1626.0,1593.0,1694.0,1768.0,1780.0,...,2913.0,2836.0,2791.0,2747.0,2678.0,2638.0,NaN,NaN,NaN,NaN
1,17426.0,Chicago,Illinois,2,3816.0,3678.0,3137.0,2778.0,2789.0,2745.0,...,4044.0,4109.0,3922.0,3775.0,3645.0,3311.0,2973.0,2833.0,2975.0,3316.0
2,39051.0,Houston,Texas,3,NaN,NaN,NaN,NaN,NaN,NaN,...,3391.0,3324.0,3329.0,3365.0,3320.0,3368.0,3329.0,3428.0,3383.0,3365.0
3,6915.0,San Antonio,Texas,4,1491.0,1408.0,1303.0,1325.0,1288.0,1258.0,...,2141.0,2023.0,1893.0,1795.0,1762.0,1763.0,1753.0,1811.0,1874.0,1874.0
4,13271.0,Philadelphia,Pennsylvania,5,2005.0,1898.0,1748.0,1685.0,1647.0,1613.0,...,2418.0,2341.0,2351.0,2314.0,2255.0,2143.0,2168.0,2171.0,2208.0,2351.0

In [52]:
# Change state names to abbreviations
sales_raw = sales_raw.replace({'StateName' : us_state_abbrev})

In [53]:
# Group regions into their metropolitan areas
sales_raw['RegionID'] = sales_raw['RegionID'].astype(int).astype(str)
sqft_metro['RegionID'] = sqft_metro['RegionID'].astype(str)

sales = list(sqft_metro['RegionID'])

sales_index = []
for sale in sales:
  if len(sales_raw.loc[sales_raw['RegionID'] == sale].index) > 0:
    sales_index.append(sales_raw.loc[sales_raw['RegionID'] == sale].index[0])

sales_metro = sales_raw.iloc[sales_index]

C:\Users\Will\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [54]:
sales_metro.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
22,16037,Seattle,WA,23,876.0,745.0,589.0,557.0,544.0,517.0,...,964.0,892.0,852.0,823.0,821.0,778.0,736.0,722.0,723.0,738.0
109,27362,Tacoma,WA,110,202.0,198.0,185.0,196.0,189.0,176.0,...,404.0,390.0,394.0,406.0,408.0,378.0,354.0,357.0,370.0,362.0
170,13480,Renton,WA,171,132.0,124.0,109.0,102.0,96.0,81.0,...,207.0,207.0,184.0,198.0,195.0,186.0,167.0,153.0,161.0,162.0
184,3619,Bellevue,WA,185,NaN,NaN,NaN,NaN,NaN,NaN,...,198.0,189.0,176.0,186.0,177.0,166.0,142.0,133.0,141.0,142.0
250,5399,Kent,WA,251,125.0,105.0,87.0,77.0,80.0,76.0,...,171.0,156.0,149.0,150.0,164.0,155.0,142.0,128.0,136.0,141.0

In [55]:
# Generate list of metro area names
metro_names = list(sqft_metro.Metro.unique())
metro_names.remove('Washington Court House')
metro_names.remove('Austin')

metro_names = ['Seattle-Tacoma-Bellevue',
 'Washington-Arlington-Alexandria',
 'Detroit-Warren-Dearborn',
 'Denver-Aurora-Lakewood',
 'Austin-Round Rock',
 'Orlando-Kissimmee-Sanford',
 'Raleigh-Durham-Chapel Hill', 'Dallas-Fort Worth-Arlington', 'San Francisco-Oakland-Hayward', 'New York-Newark-Jersey City']

In [97]:
# Dictionary of metro aread and states
metro_region = []
for i in range(0, len(metro_names)):
    state = list(sqft_metro.loc[sqft_metro.Metro == metro_names[i]].RegionName.unique())
    metro_region.append({metro_names[i] : state})

# metro_region

[{'Seattle-Tacoma-Bellevue': ['Seattle',
   'Tacoma',
   'Renton',
   'Bellevue',
   'Kent',
   'Everett',
   'Federal Way',
   'Auburn',
   'Bothell',
   'Redmond',
   'Lynnwood',
   'Kirkland',
   'Marysville',
   'Lakewood',
   'Snohomish',
   'Sammamish',
   'Edmonds',
   'Shoreline',
   'Puyallup',
   'South Hill',
   'Spanaway',
   'Burien',
   'Bonney Lake',
   'Issaquah',
   'Lake Stevens',
   'Gig Harbor',
   'Arlington',
   'Woodinville',
   'Seattle Hill-Silver Firs',
   'Paine Field-Lake Stickney',
   'University Place',
   'Maple Valley',
   'Des Moines',
   'Seatac',
   'Graham',
   'Parkland',
   'Monroe',
   'East Hill-Meridian',
   'Mercer Island',
   'Kenmore',
   'Tukwila',
   'Stanwood',
   'Enumclaw',
   'Mill Creek',
   'Mountlake Terrace',
   'Covington',
   'North Lynnwood',
   'Mukilteo',
   'Buckley',
   'Orting',
   'Bryn Mawr-Skyway',
   'White Center',
   'North Bend',
   'Lake Forest Park',
   'Sumner',
   'Duvall',
   'Snoqualmie',
   'Roy',
   'Fife',
   'Granite Falls',
   'Lake Morton-Berrydale',
   'Newcastle',
   'Edgewood',
   'Waller',
   'Summit',
   'Midland',
   'Eatonville',
   'Dupont',
   'Frederickson',
   'Carnation',
   'Vashon',
   'Milton',
   'Fall City',
   'Sultan',
   'Brier',
   'Normandy Park',
   'Pacific',
   'Fircrest',
   'Ravensdale',
   'Black Diamond',
   'Steilacoom',
   'Algona',
   'Riverton-Boulevard Park',
   'Gold Bar',
   'Lakebay',
   'Clyde Hill',
   'Medina',
   'Fox Island',
   'Woodway',
   'Vaughn',
   'Ruston',
   'Carbonado',
   'Darrington',
   'Yarrow Point',
   'Longbranch']},
 {'Washington-Arlington-Alexandria': ['Washington',
   'Silver Spring',
   'Arlington',
   'Woodbridge',
   'Fredericksburg',
   'Fairfax',
   'Frederick',
   'Falls Church',
   'Laurel',
   'Manassas',
   'Springfield',
   'Ashburn',
   'Sterling',
   'Herndon',
   'Leesburg',
   'Bowie',
   'Germantown',
   'Waldorf',
   'Stafford',
   'Gaithersburg',
   'Bethesda',
   'Centreville',
   'Rockville',
   'Vienna',
   'Reston',
   'Annandale',
   'Chantilly',
   'McLean',
   'Potomac',
   'North Bethesda',
   'Fort Washington',
   'Burke',
   'Clinton',
   'Franconia',
   'District Heights',
   'Lorton',
   'Mount Vernon',
   'Spotsylvania',
   'Chillum',
   'Culpeper',
   'Gainesville',
   'Montgomery Village',
   'Front Royal',
   'Greater Upper Marlboro',
   'Warrenton',
   'College Park',
   'Beltsville',
   'Mount Airy',
   'Bristow',
   'Takoma Park',
   'Dumfries',
   'Temple Hills',
   'Greenbelt',
   'North Potomac',
   'Groveton',
   'Derwood',
   'Haymarket',
   'Greater Landover',
   'Olney',
   'Charles Town',
   'La Plata',
   'Chevy Chase',
   'Hyattsville',
   'Lanham Seabrook',
   'Oakton',
   'Hybla Valley',
   'Lusby',
   'Great Falls',
   'Purcellville',
   'Rose Hill',
   'Suitland-Silver Hill',
   'Clarksburg',
   'Kensington',
   'Burtonsville',
   'Lincolnia',
   'Manassas Park',
   'Langley Park',
   'Huntingtown',
   'Clifton',
   'Brandywine',
   'Aldie',
   'Fort Hunt',
   'Damascus',
   'East Riverdale',
   'Thurmont',
   'Kettering',
   'Triangle',
   'Middletown',
   'Prince Frederick',
   'Boyds',
   'New Carrollton',
   'Rosaryville',
   'Adelphi',
   'New Market',
   'Harpers Ferry',
   'Indian Head',
   'Walkersville',
   'Coral Hills',
   'Largo',
   'Owings',
   'Huntington',
   'Nokesville',
   'Yorkshire',
   'Riverdale',
   'Chesapeake Beach',
   'Accokeek',
   'Bladensburg',
   'Brookeville',
   'Mount Rainier',
   'Berryville',
   'Marlton',
   'White Plains',
   'Kearneysville',
   'West Gate',
   'Glenn Dale',
   'Shepherdstown',
   'Woodlawn',
   'Bealeton',
   'Saint Leonard',
   'Emmitsburg',
   'Lovettsville',
   'Belle Haven',
   'Hughesville',
   'Darnestown',
   'Jefferson',
   'Ijamsville',
   'Dunkirk',
   'Bryans Road',
   'Travilah',
   'Round Hill',
   'Walker Mill',
   'Cheverly',
   'Glenarden',
   'Union Bridge',
   'Monrovia',
   'Marshall',
   'Poolesville',
   'Amissville',
   'Charlotte Hall',
   'Catlett',
   'Seat Pleasant',
   'Remington',
   'Ranson',
   'Carmody Hills-Pepper Mill Village',
   'Brunswick',
   'Adamstown',
   'Myersville',
   'Hamilton',
   'Midland',
   'Dunn Loring',
   'Rixeyville',
   'Linden',
   'Newburg',
   'Capitol Heights',
   'Loch Lomond',
   'Bluemont',
   'Berwyn Heights',
   'Sandy Spring',
   'Dickerson',
   'Keymar',
   'Brentwood',
   'Cheltenham',
   'Partlow',
   'Boyce',
   'Port Republic',
   'Pomfret',
   'Middleburg',
   'Bentonville',
   'Nanjemoy',
   'Sunderland',
   'University Park',
   'The Plains',
   'Broad Run',
   'Reva',
   'Landover Hills',
   'Springdale',
   'Waterford',
   'Sumerduck',
   'Cabin John',
   'Woodsboro',
   'Morningside',
   'Fairmount Heights',
   'North Beach',
   'Sabillasville',
   'Forest Heights',
   'Dowell',
   'Solomons',
   'Cobb Island',
   'Point of Rocks',
   'Bolivar']},
 {'Detroit-Warren-Dearborn': ['Warren',
   'Sterling Heights',
   'Livonia',
   'Canton',
   'Macomb',
   'Troy',
   'Westland',
   'Farmington Hills',
   'Shelby',
   'Rochester Hills',
   'Southfield',
   'Waterford',
   'West Bloomfield',
   'Taylor',
   'Pontiac',
   'Royal Oak',
   'Howell',
   'Dearborn Heights',
   'Saint Clair Shores',
   'Roseville',
   'Redford',
   'Brighton',
   'Clarkston',
   'Bloomfield Hills',
   'Chesterfield',
   'Northville',
   'Lincoln Park',
   'Plymouth',
   'Commerce',
   'Orion',
   'South Lyon',
   'Eastpointe',
   'White Lake',
   'Madison Heights',
   'Oak Park',
   'Brownstown',
   'Southgate',
   'Van Buren',
   'Allen Park',
   'Garden City',
   'Wyandotte',
   'Milford',
   'Auburn Hills',
   'Oxford',
   'Pinckney',
   'Birmingham',
   'Ferndale',
   'Holly',
   'Trenton',
   'Oakland',
   'Highland',
   'Wixom',
   'Grosse Pointe Woods',
   'Huron',
   'Fowlerville',
   'Berkley',
   'Fraser',
   'Ortonville',
   'Rochester',
   'Woodhaven',
   'New Baltimore',
   'Riverview',
   'Clawson',
   'Grosse Pointe Park',
   'Farmington',
   'Richmond',
   'Beverly Hills',
   'Flat Rock',
   'Grosse Pointe Farms',
   'Grosse Ile',
   'Center Line',
   'Springfield',
   'Walled Lake',
   'Leonard',
   'Huntington Woods',
   'New Hudson',
   'Armada',
   'Grosse Pointe',
   'Yale',
   'Utica',
   'Hartland',
   'Gibraltar',
   'Wolverine Lake',
   'Gregory',
   'Lathrup Village',
   'Grosse Pointe Shores',
   'Belleville',
   'Franklin',
   'Rockwood',
   'Brandon',
   'Lake Orion',
   'Keego Harbor',
   'Orchard Lake',
   'Pleasant Ridge',
   'Jeddo',
   'Sylvan Lake',
   'Bingham Farms']},
 {'Denver-Aurora-Lakewood': ['Denver',
   'Aurora',
   'Lakewood',
   'Thornton',
   'Westminster',
   'Arvada',
   'Centennial',
   'Highlands Ranch',
   'Parker',
   'Castle Rock',
   'Broomfield',
   'Commerce City',
   'Littleton',
   'Brighton',
   'Englewood',
   'Northglenn',
   'Ken Caryl',
   'Evergreen',
   'Columbine',
   'Wheat Ridge',
   'Golden',
   'Morrison',
   'Sherrelwood',
   'Welby',
   'Greenwood Village',
   'Federal Heights',
   'Lone Tree',
   'Elizabeth',
   'Berkley',
   'Sedalia',
   'Applewood',
   'Franktown',
   'Conifer',
   'Bailey',
   'Roxborough Park',
   'Cherry Hills Village',
   'Sheridan',
   'Twin Lakes',
   'Larkspur',
   'Idaho Springs',
   'Edgewater',
   'Todd Creek',
   'Pine',
   'Byers',
   'Strasburg',
   'West Pleasant View',
   'Kiowa',
   'Genesee',
   'Acres Green',
   'Fairplay',
   'Georgetown',
   'Coal Creek',
   'Deer Trail',
   'Lake George',
   'Columbine Valley',
   'Hartsel',
   'Bennett',
   'Guffey',
   'Indian Hills',
   'Jefferson']},
 {'Austin-Round Rock': ['Austin',
   'Round Rock',
   'Georgetown',
   'Pflugerville',
   'San Marcos',
   'Cedar Park',
   'Leander',
   'Hutto',
   'Kyle',
   'Bastrop',
   'Manor',
   'Lockhart',
   'Buda',
   'Jollyville',
   'Dripping Springs',
   'Wimberley',
   'Cedar Creek',
   'Lakeway',
   'Anderson Mill',
   'Spicewood',
   'Bee Cave',
   'Lago Vista',
   'Shady Hollow',
   'Martindale',
   'Lost Creek',
   'West Lake Hills',
   'Elgin',
   'Paige',
   'Driftwood',
   'Granger',
   'Hudson Bend',
   'Bartlett',
   'The Hills',
   'Rollingwood',
   'Thrall',
   'Woodcreek',
   'Jonestown',
   'Briarcliff',
   'Point Venture']},
 {'Orlando-Kissimmee-Sanford': ['Orlando',
   'Kissimmee',
   'Apopka',
   'Sanford',
   'Oviedo',
   'Saint Cloud',
   'Altamonte Springs',
   'Longwood',
   'Clermont',
   'Winter Springs',
   'Lake Mary',
   'Casselberry',
   'Ocoee',
   'Eustis',
   'Winter Park',
   'Winter Garden',
   'Yeehaw Junction',
   'Poinciana',
   'Leesburg',
   'Windermere',
   'Mount Dora',
   'Citrus Ridge',
   'Groveland',
   'Oak Ridge',
   'Tavares',
   'Lady Lake',
   'Maitland',
   'Fruitland Park',
   'Conway',
   'Lockhart',
   'Goldenrod',
   'Sorrento',
   'Christmas',
   'Umatilla',
   'Doctor Phillips',
   'Pine Castle',
   'Celebration',
   'Belle Isle',
   'Williamsburg',
   'Fairview Shores',
   'Wedgefield',
   'Gotha',
   'Geneva',
   'Sky Lake',
   'Holden Heights',
   'Bithlo',
   'Grand Island',
   'Astatula',
   'Montverde',
   'Bay Hill',
   'Edgewood',
   'Howey in the Hills',
   'Astor',
   'Altoona',
   'Paisley',
   'Yalaha',
   'Silver Lake',
   'Oakland',
   'Mascotte']},
 {'Raleigh-Durham-Chapel Hill': ['Raleigh',
   'Cary',
   'Apex',
   'Wake Forest',
   'Clayton',
   'Garner',
   'Fuquay Varina',
   'Holly Springs',
   'Morrisville',
   'Knightdale',
   'Zebulon',
   'Smithfield',
   'Wendell',
   'Willow Spring',
   'Benson',
   'Franklinton',
   'Youngsville',
   'Four Oaks',
   'Princeton',
   'Kenly',
   'Rolesville',
   'New Hill',
   'Selma',
   'Louisburg',
   'Durham',
   'Chapel Hill',
   'Roxboro',
   'Hillsborough',
   'Pittsboro',
   'Siler City',
   'Carrboro',
   'Rougemont',
   'Bahama',
   'Timberlake',
   'Hurdle Mills',
   'Efland',
   'Moncure',
   'Cedar Grove',
   'Semora']},
 {'Dallas-Fort Worth-Arlington': ['Dallas',
   'Fort Worth',
   'Arlington',
   'Plano',
   'Garland',
   'Irving',
   'Grand Prairie',
   'McKinney',
   'Frisco',
   'Mesquite',
   'Carrollton',
   'Denton',
   'Lewisville',
   'Richardson',
   'Allen',
   'Flower Mound',
   'North Richland Hills',
   'Mansfield',
   'Euless',
   'Desoto',
   'Little Elm',
   'Grapevine',
   'Waxahachie',
   'Cedar Hill',
   'Bedford',
   'Rowlett',
   'Wylie',
   'Granbury',
   'Haltom City',
   'Keller',
   'Coppell',
   'The Colony',
   'Lancaster',
   'Burleson',
   'Duncanville',
   'Hurst',
   'Rockwall',
   'Greenville',
   'Farmers Branch',
   'Midlothian',
   'Southlake',
   'Cleburne',
   'Balch Springs',
   'Colleyville',
   'University Park',
   'Azle',
   'Saginaw',
   'Watauga',
   'Weatherford',
   'Royse City',
   'Benbrook',
   'Corinth',
   'Sachse',
   'Forney',
   'Murphy',
   'Decatur',
   'Ennis',
   'White Settlement',
   'Joshua',
   'Prosper',
   'Highland Village',
   'Sanger',
   'Anna',
   'Addison',
   'Seagoville',
   'Rendon',
   'Red Oak',
   'Princeton',
   'Crowley',
   'Forest Hill',
   'Commerce',
   'Glenn Heights',
   'Highland Park',
   'Richland Hills',
   'Parker',
   'River Oaks',
   'Fairview',
   'Kennedale',
   'Crandall',
   'Sunnyvale',
   'Krum',
   'Lucas',
   'Trophy Club',
   'Everman',
   'Lantana',
   'Hackberry',
   'Grandview',
   'Paradise',
   'Ferris',
   'Glen Rose',
   'Lake Worth',
   'Heath',
   'Boyd',
   'Eagle Mountain',
   'Lake Dallas',
   'Westlake',
   'Sansom Park',
   'Hutchins',
   'Godley',
   'Melissa',
   'Argyle',
   'Cockrell Hill',
   'Ovilla',
   'Wolfe City',
   'Chico',
   'Alvord',
   'Roanoke',
   'Lone Oak',
   'Willow Park',
   'Pantego',
   'Blue Ridge',
   'Fate',
   'Cross Roads',
   'Edgecliff Village',
   'Hickory Creek',
   'Campbell',
   'Pecan Acres',
   'Bridgeport',
   'Double Oak',
   'Dalworthington Gardens',
   'Mabank',
   'Maypearl',
   'Saint Paul',
   'Pilot Point',
   'Keene',
   'Shady Shores',
   'Newark',
   'Rio Vista',
   'McLendon-Chisholm',
   'Alvarado',
   'Haslet',
   'Talty',
   'Lakeside',
   'Bartonville',
   'Farmersville',
   'Justin',
   'Blue Mound',
   'Lowry Crossing',
   'Oak Leaf',
   'Aubrey',
   'Combine',
   'Lavon',
   'Venus',
   'Krugerville',
   'Josephine',
   'Ponder']},
 {'San Francisco-Oakland-Hayward': ['San Francisco',
   'Oakland',
   'Fremont',
   'Hayward',
   'Concord',
   'Berkeley',
   'Richmond',
   'San Leandro',
   'San Mateo',
   'Antioch',
   'Daly City',
   'Livermore',
   'Redwood City',
   'Pittsburg',
   'Walnut Creek',
   'San Ramon',
   'Pleasanton',
   'Brentwood',
   'San Rafael',
   'Union City',
   'Alameda',
   'South San Francisco',
   'Novato',
   'Danville',
   'Castro Valley',
   'Martinez',
   'Dublin',
   'Newark',
   'Menlo Park',
   'San Bruno',
   'San Pablo',
   'Oakley',
   'Pacifica',
   'Pleasant Hill',
   'Foster City',
   'Burlingame',
   'San Carlos',
   'Lafayette',
   'San Lorenzo',
   'Mill Valley',
   'East Palo Alto',
   'Belmont',
   'El Cerrito',
   'Millbrae',
   'Hercules',
   'Albany',
   'Pinole',
   'Orinda',
   'Alamo',
   'Moraga',
   'Half Moon Bay',
   'San Anselmo',
   'Clayton',
   'Sausalito',
   'El Sobrante',
   'Piedmont',
   'Hillsborough',
   'Woodside',
   'Tiburon',
   'North Fair Oaks',
   'Emeryville',
   'Discovery Bay',
   'Corte Madera',
   'Rodeo',
   'Fairfax',
   'Atherton',
   'Kentfield',
   'Larkspur',
   'Kensington',
   'Broadmoor Village',
   'Brisbane',
   'Portola Valley',
   'Highlands-Baywood Park',
   'Emerald Lake Hills',
   'Moss Beach',
   'Ross',
   'Belvedere',
   'Crockett',
   'Point Reyes Station',
   'Lagunitas',
   'La Honda',
   'Inverness',
   'Montara',
   'Stinson Beach']},
 {'New York-Newark-Jersey City': ['New York',
   'Islip',
   'Newark',
   'Jersey City',
   'Yonkers',
   'Paterson',
   'Ramapo',
   'Elizabeth',
   'Edison',
   'Lakewood',
   'Clifton',
   'Clarkstown',
   'Toms River',
   'Huntington',
   'Woodbridge',
   'Poughkeepsie',
   'New Rochelle',
   'Brick',
   'Passaic',
   'Union City',
   'Mount Vernon',
   'Middletown',
   'North Bergen',
   'Valley Stream',
   'Hempstead',
   'White Plains',
   'Union',
   'Bayonne',
   'Piscataway',
   'New Brunswick',
   'Jackson',
   'Wayne',
   'Newburgh',
   'Hoboken',
   'Parsippany-Troy Hills',
   'West New York',
   'Howell',
   'Massapequa',
   'Plainfield',
   'Orangetown',
   'Perth Amboy',
   'Freehold',
   'Bloomfield',
   'West Orange',
   'East Brunswick',
   'South Brunswick',
   'Bridgewater',
   'Hackensack',
   'Freeport',
   'Manchester',
   'Sayreville',
   'Hicksville',
   'Kearny',
   'Linden',
   'Levittown',
   'Old Bridge',
   'Berkeley',
   'North Brunswick',
   'Franklin',
   'Marlboro',
   'Teaneck',
   'Manalapan',
   'Monroe',
   'Scarsdale',
   'Montclair',
   'Hillsborough',
   'Elmont',
   'Great Neck',
   'East Meadow',
   'Fort Lee',
   'Yorktown',
   'Belleville',
   'Smithtown',
   'Carmel',
   'Farmingdale',
   'Fair Lawn',
   'Merrick',
   'Bellmore',
   'Baldwin',
   'Ossining',
   'Neptune',
   'Franklin Square',
   'Garfield',
   'Wantagh',
   'Matawan',
   'Rockaway',
   'Westfield',
   'Livingston',
   'Commack',
   'Port Chester',
   'Plainview',
   'Long Branch',
   'Rahway',
   'Long Beach',
   'Nutley',
   'Lacey',
   'Englewood',
   'Oceanside',
   'Bergenfield',
   'Bernards',
   'Paramus',
   'Ocean',
   'Riverhead',
   'Mahwah',
   'Uniondale',
   'Rockville Centre',
   'Warwick',
   'Randolph',
   'West Milford',
   'Ridgewood',
   'Scotch Plains',
   'Lodi',
   'Cliffside Park',
   'Somerset',
   'West Hempstead',
   'Carteret',
   'Eastchester',
   'Wall',
   'South Plainfield',
   'East Fishkill',
   'Cranford',
   'Maplewood',
   'Plainsboro',
   'Massapequa Park',
   'Greenburgh',
   'Montgomery',
   'Garden City',
   'Morris',
   'Barnegat',
   'Bethpage',
   'Raritan',
   'North Plainfield',
   'Seaford',
   'Montville',
   'Summit',
   'Roselle',
   'Hillside',
   'Lyndhurst',
   'Fishkill',
   'New Windsor',
   'Jefferson',
   'Somers',
   'Syosset',
   'Palisades Park',
   'Sparta',
   'Elmwood Park',
   'Hazlet',
   'Lynbrook',
   'Vernon',
   'Mineola',
   'Hawthorne',
   'Mt Olive',
   'Secaucus',
   'Morristown',
   'Mamaroneck',
   'Dover',
   'Point Pleasant',
   'Rutherford',
   'Colonia',
   'Dumont',
   'Tinton Falls',
   'Floral Park',
   'Kings Park',
   'La Grange',
   'Wyckoff',
   'Wappinger',
   'South Orange',
   'Springfield',
   'Rye',
   'Roosevelt',
   'Denville',
   'Hyde Park',
   'New Milford',
   'Holmdel',
   'Kiryas Joel',
   'South River',
   'Warren',
   'North Arlington',
   'Readington',
   'Port Washington',
   'Asbury Park',
   'Madison',
   'Stony Point',
   'Nesconset',
   'North New Hyde Park',
   'Highland Park',
   'Westbury',
   'Ocean Acres',
   'Ramsey',
   'Larchmont',
   'Tenafly',
   'Branchburg',
   'Mount Kisco',
   'Clark',
   'Hanover',
   'Fairview',
   'Beacon',
   'Weehawken',
   'Saddle Brook',
   'Middlesex',
   'Goshen',
   'New Cassel',
   'Little Falls',
   'Southeast',
   'Long Valley',
   'Metuchen',
   'Chappaqua',
   'Beekman',
   'Berkeley Heights',
   'Manhasset',
   'Roselle Park',
   'Clinton',
   'Oakland',
   'Ridgefield Park',
   'Harrison',
   'Verona',
   'Short Hills',
   'Salisbury',
   'Woodmere',
   'Pelham',
   'Roxbury',
   'New Providence',
   'Little Egg Harbor',
   'Cedar Grove',
   'Lake Grove',
   'Woodland Park',
   'Haverstraw',
   'Hasbrouck Heights',
   'Wallkill',
   'Somerville',
   'Ringwood',
   'Jericho',
   'Red Bank',
   'Woodbury',
   'North Castle',
   'Glen Rock',
   'Bedford',
   'East Rockaway',
   'Guttenberg',
   'River Edge',
   'Saint James',
   'Edgewater',
   'Florham Park',
   'Eatontown',
   'Tarrytown',
   'Chester',
   'Westwood',
   'Wallington',
   'Wantage',
   'Lincoln Park',
   'Ridgefield',
   'Mt Pleasant',
   'Beachwood',
   'Dobbs Ferry',
   'Glen Head',
   'Franklin Lakes',
   'Little Ferry',
   'West Caldwell',
   'Mendham',
   'Totowa',
   'East Hanover',
   'Hopatcong',
   'Chatham',
   'Cornwall',
   'Manville',
   'Hillsdale',
   'Bound Brook',
   'Hampton Bays',
   'Millstone',
   'Kinnelon',
   'Red Hook',
   'Colts Neck',
   'River Vale',
   'Waldwick',
   'Succasunna',
   'Budd Lake',
   'New Hyde Park',
   'Pleasant Valley',
   'Sleepy Hollow',
   'Southampton',
   'Rye Brook',
   'Fort Salonga',
   'Maywood',
   'Leonia',
   'Washington',
   'Crawford',
   'Chatham Borough',
   'Hartsdale',
   'Milltown',
   'East Rutherford',
   'Putnam Valley',
   'Malverne',
   'Park Ridge',
   'South Amboy',
   'Long Hill',
   'Cresskill',
   'West Haverstraw',
   'Calverton',
   'Port Jervis',
   'Closter',
   'Spotswood',
   'Lawrence',
   'Scotchtown',
   'North Haledon',
   'Boonton',
   'Pawling',
   'Upper Saddle River',
   'Roslyn Heights',
   'Montvale',
   'Wappingers Falls',
   'Bedminster',
   'Garden City Park',
   'Haledon',
   'Briarcliff Manor',
   'Bogota',
   'Mystic Islands',
   'Hardyston',
   'Caldwell',
   'Hastings on Hudson',
   'West Long Branch',
   'Lake Carmel',
   'Patterson',
   'Butler',
   'Oradell',
   'Deerpark',
   'Bernardsville',
   'Glen Ridge',
   'Cedarhurst',
   'Wood Ridge',
   'Millburn',
   'Rhinebeck',
   'Emerson',
   'Newton',
   'Dunellen',
   'Fanwood',
   'Fairfield',
   'Midland Park',
   'Williston Park',
   'Wawayanda',
   'Inwood',
   'Island Park',
   'Philipstown',
   'Green Brook',
   'Keyport',
   'Pleasantville',
   'East Hills',
   'Andover',
   'Mountainside',
   'Rumson',
   'Upper Freehold',
   'Madison Park',
   'Walden',
   'Mount Ivy',
   'Mechanicstown',
   'Wanaque',
   'Bloomingdale',
   'Allendale',
   'Mt Hope',
   'Byram',
   'Manorhaven',
   'Wharton',
   'Stafford',
   'Irvington',
   'Morris Plains',
   'North Caldwell',
   'Carlstadt',
   'Oceanport',
   'Plumsted',
   'Rochelle Park',
   'Oyster Bay',
   'Lebanon',
   'Wading River',
   'Hewlett',
   'Watchung',
   'Fair Haven',
   'Woodcliff Lake',
   'Old Tappan',
   'Prospect Park',
   'Roseland',
   'Jamesburg',
   'Tewksbury',
   'Belmar',
   'Myers Corner',
   'Norwood',
   'Manasquan',
   'Union Beach',

In [103]:
# Dictionary of metro aread and states
metro_agg = []
for i in range(0, len(metro_names)):
    state = list(sqft_metro.loc[sqft_metro.Metro == metro_names[i]].State.unique())
    metro_agg.append({metro_names[i] : state})

# metro_agg

In [104]:
DFW_sales = sales_metro.loc[sales_metro.StateName == metro_agg[7][metro_names[7]][0]]
DFW_metro = sqft_metro.loc[sqft_metro.State == metro_agg[7][metro_names[7]][0]]
DFW_cities = [value for value in DFW_sales.RegionName.unique() if value in DFW_metro.RegionName.unique()]
# DFW_cities

In [100]:
sales_agg = pd.DataFrame()
for i in range(0, len(metro_names)):
    for j in range(0, len(metro_region[i][metro_names[i]])):
        WA_sales = sales_metro.loc[sales_metro.RegionName == metro_region[i][metro_names[i]][j]]
        WA_metro = sqft_metro.loc[sqft_metro.RegionName == metro_region[i][metro_names[i]][j]]
        WA_cities = [value for value in WA_sales.RegionName.unique() if value in WA_metro.RegionName.unique()]

        # RegionID for every city in Seattle metro area
        WA_agg = WA_sales.loc[sales_metro['RegionName'].isin(WA_cities)]
        WA_agg['Metro'] = metro_names[i]
        sales_agg = sales_agg.append(WA_agg, ignore_index = True)
sales_agg.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,Metro
0,16037,Seattle,WA,23,876.0,745.0,589.0,557.0,544.0,517.0,...,892.0,852.0,823.0,821.0,778.0,736.0,722.0,723.0,738.0,Seattle-Tacoma-Bellevue
1,27362,Tacoma,WA,110,202.0,198.0,185.0,196.0,189.0,176.0,...,390.0,394.0,406.0,408.0,378.0,354.0,357.0,370.0,362.0,Seattle-Tacoma-Bellevue
2,13480,Renton,WA,171,132.0,124.0,109.0,102.0,96.0,81.0,...,207.0,184.0,198.0,195.0,186.0,167.0,153.0,161.0,162.0,Seattle-Tacoma-Bellevue
3,3619,Bellevue,WA,185,NaN,NaN,NaN,NaN,NaN,NaN,...,189.0,176.0,186.0,177.0,166.0,142.0,133.0,141.0,142.0,Seattle-Tacoma-Bellevue
4,5399,Kent,WA,251,125.0,105.0,87.0,77.0,80.0,76.0,...,156.0,149.0,150.0,164.0,155.0,142.0,128.0,136.0,141.0,Seattle-Tacoma-Bellevue

In [101]:
sales_group_mean = sales_agg.groupby('Metro').mean()
sales_group_mean.drop(columns = ['SizeRank'], inplace = True)

# Transpose dataset
sales_group_mean = sales_group_mean.transpose().reset_index()
sales_group_mean = sales_group_mean.rename(columns = {'index': 'Month'})
sales_group_mean.head()

Metro,Month,Austin-Round Rock,Dallas-Fort Worth-Arlington,Denver-Aurora-Lakewood,Detroit-Warren-Dearborn,New York-Newark-Jersey City,Orlando-Kissimmee-Sanford,Raleigh-Durham-Chapel Hill,San Francisco-Oakland-Hayward,Seattle-Tacoma-Bellevue,Washington-Arlington-Alexandria
0,2008-03,31.000000,67.210526,82.351852,30.866667,17.280665,35.94,69.523810,45.279412,51.712644,28.429530
1,2008-04,28.541667,62.885965,74.685185,31.866667,16.935551,33.62,65.857143,43.441176,47.758621,27.630872
2,2008-05,27.000000,57.500000,68.759259,31.422222,16.216216,32.50,57.142857,38.764706,41.735632,26.127517
3,2008-06,27.291667,57.684211,67.629630,30.122222,15.621622,32.34,54.809524,38.882353,39.689655,25.919463
4,2008-07,26.500000,57.192982,68.074074,29.933333,15.378378,34.46,54.000000,40.681159,37.919540,25.899329

In [102]:
sales_group_median = sales_agg.groupby('Metro').median()
sales_group_median.drop(columns = ['SizeRank'], inplace = True)

# Transpose dataset
sales_group_median = sales_group_median.transpose().reset_index()
sales_group_median = sales_group_median.rename(columns = {'index': 'Month'})
sales_group_median.head()

Metro,Month,Austin-Round Rock,Dallas-Fort Worth-Arlington,Denver-Aurora-Lakewood,Detroit-Warren-Dearborn,New York-Newark-Jersey City,Orlando-Kissimmee-Sanford,Raleigh-Durham-Chapel Hill,San Francisco-Oakland-Hayward,Seattle-Tacoma-Bellevue,Washington-Arlington-Alexandria
0,2008-03,17.0,25.5,21.5,18.0,10.0,13.0,19.0,23.0,21.0,12.0
1,2008-04,14.5,22.5,23.0,19.0,9.0,10.5,20.0,20.5,19.0,11.0
2,2008-05,14.0,18.5,21.0,18.0,9.0,11.0,18.0,18.0,17.0,11.0
3,2008-06,14.5,18.0,21.5,17.0,9.0,11.5,16.0,18.5,17.0,11.0
4,2008-07,14.5,17.0,20.5,15.0,8.0,12.0,14.0,20.0,15.0,10.0

# Median Sale Prices Dataset

In [60]:
price_raw = pd.read_csv('Raw_Data/Sale_Prices_Zip.csv', encoding = 'latin-1')
price_raw.rename(columns = {'RegionName':'ZipCode'}, inplace = True)
price_raw.head()

,RegionID,ZipCode,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,61639.0,10025,New York,1,NaN,NaN,NaN,NaN,NaN,NaN,...,885100.0,1076100.0,1086300.0,1053100.0,952800.0,1007400.0,1108000.0,1159900.0,1083400.0,968600.0
1,84654.0,60657,Illinois,2,NaN,NaN,NaN,NaN,NaN,NaN,...,381600.0,340200.0,334100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,91982.0,77494,Texas,3,NaN,NaN,NaN,NaN,NaN,NaN,...,336100.0,333700.0,330600.0,333900.0,322300.0,321400.0,309200.0,311300.0,304300.0,NaN
3,93144.0,79936,Texas,4,NaN,NaN,NaN,NaN,NaN,NaN,...,128100.0,126500.0,126700.0,131000.0,131900.0,130800.0,128900.0,130100.0,128400.0,126900.0
4,91940.0,77449,Texas,5,NaN,NaN,NaN,NaN,NaN,NaN,...,180100.0,182100.0,178100.0,178600.0,178700.0,180800.0,184500.0,187400.0,191000.0,190700.0

### Aggregate list of zip codes by metro area

In [61]:
zip_raw = pd.read_csv('Raw_Data/Zip_Zhvi_AllHomes.csv', encoding = 'latin-1')
zip_raw.rename(columns = {'RegionName':'ZipCode'}, inplace = True)
zip_raw.head()

,RegionID,ZipCode,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,171600.0,171600.0,171400.0,...,1122300,1117600,1115600,1110000,1098000,1086700,1080400,1072600,1063400,1058600
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,158400.0,159700.0,160700.0,...,352700,351400,349900,348300,347200,347400,348800,350900,352700,353500
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,347900.0,349600.0,351100.0,...,1496600,1494700,1502400,1489400,1462300,1438000,1411200,1390300,1378900,1370500
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,210400.0,212200.0,212200.0,...,330400,332700,334500,335900,337000,338300,338400,336900,336000,336500
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,192500.0,194500.0,196100.0,...,430100,428800,427900,428200,429900,430900,430000,430200,431500,432300

In [62]:
# filter zip codes by metro area
zip_metro = zip_raw.loc[zip_raw['Metro'].isin(metro_names)]

# Create Realeigh-Durham-Chapel Hill area
zip_NC = zip_raw.loc[zip_raw['Metro'].isin(['Raleigh', 'Durham-Chapel Hill'])]
zip_NC['Metro'] = 'Raleigh-Durham-Chapel Hill'
zip_metro = zip_metro.append(zip_NC)

# Create dictionary of zip codes by metro area
zip_agg = []
for i in range(0, len(metro_names)):
    zip_agg.append({metro_names[i]:list((zip_metro.loc[zip_metro['Metro'] == metro_names[i]].ZipCode).values)})

C:\Users\Will\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [63]:
price_agg = pd.DataFrame()

# metro area, all zips, single zip
for i in range(0, len(metro_names)):
    zipper = zip_agg[i][metro_names[i]]

    metro_zips = price_raw.loc[price_raw['ZipCode'].isin(zipper)]
    metro_zips['Metro'] = metro_names[i]
    price_agg = price_agg.append(metro_zips)
    
price_agg.head()

C:\Users\Will\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,RegionID,ZipCode,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,Metro
38,99534.0,98052,Washington,39,429000.0,428800.0,419600.0,414600.0,410600.0,453200.0,...,759500.0,771100.0,773200.0,743000.0,751500.0,785400.0,822100.0,808100.0,782600.0,Seattle-Tacoma-Bellevue
93,99500.0,98012,Washington,94,385400.0,375800.0,366600.0,374700.0,367100.0,371300.0,...,581000.0,588700.0,589700.0,589900.0,578400.0,557200.0,536000.0,539200.0,551300.0,Seattle-Tacoma-Bellevue
117,99563.0,98103,Washington,118,NaN,NaN,NaN,NaN,NaN,NaN,...,776600.0,804200.0,795400.0,755400.0,740500.0,768300.0,805700.0,775000.0,732200.0,Seattle-Tacoma-Bellevue
249,99589.0,98133,Washington,250,318000.0,338800.0,321400.0,336500.0,331600.0,324200.0,...,544200.0,531700.0,558300.0,565000.0,550800.0,551600.0,546300.0,572400.0,560400.0,Seattle-Tacoma-Bellevue
261,99581.0,98122,Washington,262,NaN,NaN,NaN,NaN,NaN,NaN,...,768600.0,762400.0,754800.0,753300.0,788900.0,760200.0,728100.0,717300.0,684400.0,Seattle-Tacoma-Bellevue

# Create Database Connection

In [64]:
# engine = create_engine('sqlite:///real_estate.sqlite')

In [65]:
# engine.table_names()

In [66]:
# metro_group.to_sql(
#     name = 'median_price_sqft', con = engine,
#     if_exists = 'replace')

In [67]:
# sales_group_median.to_sql(
#     name = 'median_sales_count', con = engine,
#     if_exists = 'replace')

In [68]:
# sales_group_mean.to_sql(
#     name = 'mean_sales_count', con = engine,
#     if_exists = 'replace')

In [69]:
# price_agg.to_sql(
#     name = 'median_price_zip', con = engine,
#     if_exists = 'replace')

In [70]:
# pd.read_sql('SELECT * FROM median_price_zip', con = engine)

# MySQL Connection

In [71]:
import pymysql
pymysql.install_as_MySQLdb()

In [72]:
# Define database within MySQL client

In [74]:
connection_string = (f"root:eAVuM6bo4LgR@localhost/")

engine = create_engine(f"mysql://{connection_string}")
engine.execute("DROP DATABASE IF EXISTS real_estate")
engine.execute("CREATE DATABASE real_estate")

C:\Users\Will\Anaconda3\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (1008, "Can't drop database 'real_estate'; database doesn't exist")
  result = self._query(query)

In [76]:
engine.execute("USE real_estate") # select new db
sales_group_mean.to_sql(
    name = 'mean_sales_count', con = engine,
    if_exists = 'replace')
with engine.connect() as con:
    con.execute('ALTER TABLE `mean_sales_count` ADD PRIMARY KEY (`index`);')

In [77]:
engine.execute("USE real_estate")
price_agg.to_sql(
    name = 'median_price_zip', con = engine,
    if_exists = 'replace', chunksize = 75)
with engine.connect() as con:
    con.execute('ALTER TABLE `median_price_zip` ADD PRIMARY KEY (`ZipCode`);')

In [78]:
engine.execute("USE real_estate") # select new db
sales_group_median.to_sql(
    name = 'median_sales_count', con = engine,
    if_exists = 'replace')
with engine.connect() as con:
    con.execute('ALTER TABLE `median_sales_count` ADD PRIMARY KEY (`index`);')

In [79]:
engine.execute("USE real_estate") # select new db
metro_group.to_sql(
    name = 'median_price_sqft', con = engine,
    if_exists = 'replace')
with engine.connect() as con:
    con.execute('ALTER TABLE `median_price_sqft` ADD PRIMARY KEY (`index`);')